.container {
  display: flex;
  flex-direction: column;
}

.container .not-found {
  font-size: 1.2rem;
  padding: 0 0 2.5vw 3.5vw;
}

.container .content {
  display: flex;
  justify-content: space-around;
}

.container .content .image {
  max-width: 539.22px;
}

.container .content .content-text {
  height: 400px;
  margin-right: 55px;
}

.container .content .content-text .main-h {
  font-size: 64px;
  line-height: 95px;
  font-weight: bold;
  font-family: 'Space Mono';
  color: #333;
  max-width: 556px;
  max-height: 190px;
  letter-spacing: -0.035em;
}

.container .content .content-text .main-p {
  font-size: 24px;
  line-height: 35.54px;
  font-weight: 400;
  font-family: 'Space Mono';
  color: #4f4f4f;
  letter-spacing: -0.035em;
  max-width: 381px;
}

.container .content .content-text .btn {
  font-size: 1vw;
  line-height: 4vw;
  font-weight: 700;
  color: #fff;
  background-color: #333;
  margin-top: 3vw;
  min-width: 216px;
  min-height: 68px;
  padding: 0 15px;
}

.footer {
  color: #bdbdbd;
  margin-top: 1vw;
  font-size: 1.2vw;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom:0;
  text-align: center;
}

@media screen and (max-width: 1063px) {
  .not-found {
    display: flex;
    margin-left: 3%;
    font-size: 48px;
    margin-bottom: 10vw;
  }
  
  .container .content {
    flex-direction: column;
    align-items: center;
  }
  
  .container .image {
    min-width: 286.83px !important;
    height: 238px !important;
  }

  .main-h {
    font-size: 48px !important;
    max-width: 350px !important;
    line-height: 71px !important;
  }

  .content-text .main-p {
    font-size: 18px !important;
    line-height: 26px !important;
    max-width: 328px !important;
  }

}
